td {
    vertical-align: middle !important;
}
.perfil-titulo, .perfil-destaque {
    font-family: 'serif';
    font-size: 24px;
}
.perfil-destaque {
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
}