*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    position relative

body
    background $bege-claro
    padding-top 50px
    +below($tablet)
        padding-top 0
    &.home
        +tablet()
            min-height 500px
        +mobile()
            min-height 350px

::selection
    background $bege
    color #fff

::-moz-selection
    background $bege
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

a
    text-decoration none
    color inherit

+below($tablet)
    .overlay
        display none !important
