// Responsive
desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$bege       = #A8A7A1
$bege-claro = #E1E0DF
$bege-medio = #C0BFBB

// Fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700')
oxygen($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Oxygen', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic')
crimson($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Crimson Text', 'Georgia', 'Times New Roman', serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
