.contato
    clearfix()
    .imagem
        width 31.08%
        float left
        margin-right 3.38%
        img
            display block
            width 100%
            height auto
        +mobile()
            display none
    ::-webkit-input-placeholder
       color #000
    :-moz-placeholder
       color #000
    ::-moz-placeholder
       color #000
    :-ms-input-placeholder
       color #000
    form
        width 31.08%
        float left
        margin-right 3.38%
        h2
            oxygen 24 light
            line-height 1
            color $bege
            margin 0 0 12px
        input
        textarea
            width 100%
            display block
            border 1px solid $bege
            background transparent
            oxygen 14
            color #000
            padding 5px 8px
            outline 0
            margin-bottom 4px
            resize none
            &[type='submit']
                background $bege
                color #fff
                border none
                transition background .3s
                &:hover
                    background darken($bege, 15)
        textarea
            height 330px
            +below($tablet)
                height 180px
        #form-contato-response
            display none
            padding 10px
            border 1px solid $bege
            text-align center
            oxygen 12 bold
            color #000
        +tablet()
            width 65.54%
            margin-right 0
        +mobile()
            width 100%
    .info
        width 31.08%
        float left
        .telefone
            height 30px
            padding-left 40px
            background $img('telefone.png') no-repeat center left
            crimson 20 bold
            line-height 30px
            margin 0
        .endereco
            oxygen 14
            margin 1em 0
            p
                margin 0
                line-height 1.4
        .googlemaps
            width 100%
            height 400px
            border 1px solid $bege-medio
            +tablet()
                height 250px
            +mobile()
                height 200px
            iframe
                display block
                width 100%
                height 100%
        +below($tablet)
            width 100%
            margin-top 25px

