.banners
    position absolute
    z-index -1
    top 0
    left 0
    width 100%
    height 100%
    background $bege
    .banner
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center
.logo-home
    position absolute
    z-index 102
    top 0
    left 0
    width 100%
    height 100%
    background $img('elianatoledo.png') no-repeat center 47.5%
    +below($tablet)
        display none
