.perfil
    clearfix()
    .texto
        width 53.75%
        float left
        padding 50px 0 0
        color #000
        +below($tablet)
            padding 0
        +mobile()
            width 100%
        h2
            crimson 20
            margin 1em 0
        h3
            crimson 22 normal italic
            padding-left 50px
            +mobile()
                padding-left 20px
            margin 1.2em 0
            line-height 1.5
        p
            oxygen 14
            line-height 1.5
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
    .imagem
        width 30%
        float right
        img
            display block
            width 100%
            height auto
        +mobile()
            width 100%
            margin-top 30px
            img
                max-width 100%
                width auto
