.produtos
    clearfix()
    .produtos-categorias
        width 19.16667%
        float left
        a
            display block
            width 100%
            padding 6px 10px
            background $bege-medio
            crimson 16
            margin-bottom 5px
            transition background .3s
            &:hover
            &.active
                background #fff
        +below($tablet)
            width 100%
            margin-bottom 25px
            font-size 0
            a
                font-size 15px
                display inline-block
                width auto
                margin-right 5px
    .produtos-main
        width 79.25%
        float right
        +below($tablet)
            width 100%
    .produtos-aromas
        clearfix()
        img
            float left
            width 23.974%
            height auto
            display block
        .texto
            width 73.5%
            float right
            crimson 16 normal italic
        +mobile()
            img
                width auto
                max-width 100%
                margin-bottom 10px
            .texto
                width 100%
    .produtos-mobiliario
        .abertura
            margin-bottom 25px
            clearfix()
            img
                display block
                float left
                width 23.974%
                height auto
            .texto
                width 73.5%
                float right
                crimson 16 normal italic
            +mobile()
                img
                    width auto
                    max-width 100%
                    margin-bottom 5px
                .texto
                    width 100%
    .produtos-thumbs
    .mobiliario-thumbs
        clearfix()
        a
            position relative
            display block
            float left
            width 23.974%
            margin-right 1.3669%
            margin-bottom 1.3669%
            &:nth-child(4n)
                margin-right 0
            img
                display block
                width 100%
                height auto
            +mobile()
                width 32.422%
                &:nth-child(4n)
                    margin-right 1.3669%
                &:nth-child(3n)
                    margin-right 0
    .produtos-thumbs
        a
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba($bege, .8)
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
    .mobiliario-thumbs
        a
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba($bege, .8)
                opacity 0
                transition opacity .3s
                .overlay-wrapper
                    position absolute
                    width 100%
                    height 100%
                    display table
                    span
                        display table-cell
                        vertical-align middle
                        width 100%
                        text-align center
                        padding 25px
                        crimson 16
                        color #fff
            &:hover .overlay
                opacity 1

.fancybox-skin
    border-radius 0
.fancybox-title
    h2
        crimson 18
        margin 0 0 3px
    p
        oxygen 14
        margin 0
