.projetos-categorias
    margin-top 15px
    transform translateY(-5px)
    .center
        clearfix()
        padding-left 260px
    a
        display block
        float left
        crimson 16
        position relative
        margin-right 20px
        padding-bottom 3px
        &:after
            content '\00b7'
            position absolute
            top 0
            right -10px
        &:before
            content ''
            position absolute
            width 40px
            bottom 0
            left 50%
            margin-left -20px
            height 1px
            background #000
            opacity 0
            transition opacity .3s
        &:last-child:after
            display none
        &:hover
        &.active
            &:before
                opacity 1
    +below($tablet)
        transform none
        margin-top 25px
        .center
            padding 0
            a
                margin-bottom 5px

.projetos-index
    clearfix()
    margin-top 30px
    +mobile()
        margin-top 25px
    a
        position relative
        display block
        float left
        width 33.333%
        border-right 1px solid $bege-claro
        border-bottom 1px solid $bege-claro
        +mobile()
            width 50%
        img
            width 100%
            height auto
            display block
        .overlay
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background rgba($bege, .8)
            opacity 0
            transition opacity .3s
            .overlay-wrapper
                position absolute
                width 100%
                height 100%
                display table
                span
                    display table-cell
                    vertical-align middle
                    width 100%
                    text-align center
                    padding 25px
                    crimson 16
                    color #fff
        &:hover .overlay
            opacity 1

.projetos-show
    clearfix()
    .projeto-descricao
        clearfix()
        margin-bottom 30px
        .planta
            display block
            width 33.33%
            float left
            position relative
            img
                display block
                width 100%
                height auto
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($bege, .8)
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
        .texto
            &.texto-planta
                width 64%
                float right
            h1
                crimson 30
                margin 0 0 10px
                +mobile()
                    font-size 24px
            p
                oxygen 14
                margin 0
    .projeto-imagens
        clearfix()
        a
            display block
            position relative
            width auto
            float left
            margin-right 10px
            img
                display block
                width auto
                height 100%
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background $img('lupa.png') no-repeat center rgba($bege, .8)
                opacity 0
                transition opacity .3s
            cursor default
            pointer-events none
            &.slick-current
                pointer-events auto
                cursor pointer
                &:hover:after
                    opacity 1

.slick-track
    height 500px
    +tablet()
        height 400px !important
    +mobile()
        height 250px !important

.slick-prev
.slick-next
    position absolute
    top 0
    right 0
    width 60px
    z-index 101
    height 100%
    background $img('seta-direita.png') no-repeat center
    text-indent -9999px
    outline 0
    border 0

.slick-prev
    left 0
    background $img('seta-esquerda.png') no-repeat center
