.publicacoes-index
    font-size 0
    clearfix()
    a
        display inline-block
        vertical-align top
        width 19.16667%
        margin-right 1.041%
        margin-bottom 1.2%
        &:nth-child(5n)
            margin-right 0
        +tablet()
            width 24.2195%
            margin-bottom 2%
            &:nth-child(5n)
                margin-right 1.041%
            &:nth-child(4n)
                margin-right 0
        +mobile()
            width 32.639%
            margin-bottom 2.5%
            &:nth-child(5n)
                margin-right 1.041%
            &:nth-child(3n)
                margin-right 0
        .imagem
            position relative
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba($bege, .8)
                opacity 0
                transition opacity .3s
        img
            width 100%
            height auto
            display block
        span
            display block
            oxygen 12
            color #000
            margin-top 6px
        &:hover
            .imagem:after
                opacity 1

.publicacoes-show
    text-align center
    img
        display inline-block
        vertical-align top
        max-width 100%
        height auto
        margin-bottom 40px
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
    a
        display block
        margin-top 20px
        crimson 18 bold
        color $bege
        transition color .3s
        &:hover
            color #000
