.main
    margin 50px 0
    +mobile()
        margin 25px 0
    &.not-found
        padding 25vh 0
        text-align center
        h1
            display inline-block
            oxygen 13 bold
            color $bege
            text-transform uppercase
            border 2px solid $bege
            padding 15px
        +below($mobile)
            padding 15vh 0
