footer
    width 100%
    background $bege
    text-align center
    &.home
        position absolute
        bottom 0
        z-index 105
    .info
        display block
        width 100%
        padding 25px 0
        color #fff
        crimson 16
        nav
            display inline-block
            a
                padding-right 10px
                font-size 15px
                &:after
                    content '\00b7'
                    margin-left 10px
                    color #fff !important
                &:last-child
                    padding-right 0
                    &:after
                        display none
            +below($tablet)
                display none
        .telefone
            border-left 1px solid #fff
            border-right 1px solid #fff
            padding 0 15px
            margin 0 15px
            +below($tablet)
                margin 0
                padding 0
                border none
                display block
    .copyright
        display block
        width 1024px
        margin 0 auto
        padding 15px 0
        border-top 1px solid #fff
        oxygen 10
        color #fff
        +below($tablet)
            width 100%
    a
        transition color .3s
        &:hover
            color #000
