header
    width 100%
    height 50px
    background $bege
    position relative
    z-index 105
    +below($tablet)
        height 70px
    .center
        height 100%
    .logo
        display block
        width 300px
        height 64px
        float left
        position relative
        left -50px
        text-indent -9999px
        background $img('elianatoledo-internas.png') no-repeat center $bege-claro
        +below($tablet)
            height 100%
            width 240px
            left -20px
            background-size 170px auto
        +mobile()
            width 175px
            left -15px
            background-size 150px auto
    #nav-desktop
        float left
        width auto
        height 50px
        position relative
        left -30px
        +below($tablet)
            display none
        a
            display block
            float left
            line-height 50px
            crimson 16
            color #fff
            padding 0 20px
            transition background .3s, color .3s
            &:hover
            &.active
                background $bege-medio
                color #000
    &.home
        position absolute
        top 0
        .logo
            +above($tablet)
                display none
        #nav-desktop
            left 0
    .social
        float right
        height 100%
        +below(320px)
            display none
        a
            width 20px
            height 100%
            display block
            float left
            margin-left 5px
            text-indent -9999px
            &:first-child
                margin-left 0
            +below($mobile)
                margin-left 2px
            &.facebook
                background $img('facebook.png') no-repeat center
            &.instagram
                background $img('instagram.png') no-repeat center
            &.pinterest
                background $img('pinterest.png') no-repeat center
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        +mobile()
            margin-left 15px
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background #fff
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        width 100%
        background darken($bege, 10)
        border-bottom 4px solid darken($bege, 15)
        padding 20px 0
        text-align center
        z-index 106
        a
            display block
            color #fff
            crimson 16
            text-transform uppercase
            text-decoration none
            padding 5px 0
            &.active
                color #000
